body {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url(../images/header.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

title {
    font: "Roboto Slab", "serif";
    font-size: 36px;
    color: white;
    text-align: center;
    width: 790px;
    display: inline-block;
    margin-top: 250px;
    margin-left: 300px;
    font-weight: normal;
}

#profile {
    display: flex;
    height: 140px;
    width: 140px;
    margin: -70px auto auto auto;
}

span {
    font: "Roboto Slab", "serif";
    font-size: 18px;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: rgb(51, 51, 51);
    line-height: 24px;
}

#line {
    margin: 10px auto 50px;
    width: 220px;
    border-bottom: 2px solid #e6e6e6;
}

.part1 {
    width: 960px;
    margin: 0 auto;
    padding: 40px;
}

.num {
    display: inline;
    font: "Roboto Slab", "serif";
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: rgba(0, 0, 0, 0.25);
}

.one {
    display: inline;
    font: "Roboto Slab", "serif";
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: rgb(51, 51, 51);
}

a {
    color: #42b4d6;
    text-decoration: none;
    margin-left: 37px;
    line-height: 40px;
}

a:hover {
    text-decoration: underline;
}

p {
    font: "Source Sans Pro", "sans-serif";
    font-size: 18px;
    line-height: 32px;
    color: rgb(51, 51, 51);
    margin-left: 37px;
}

#picture1 {
    text-align: left;
    margin-left: 37px;
}