body {
    margin: 0;
    padding: 0;
}

.picture1 {
    background-image: url(../images/1.jpg);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

.word1 {
    display: line;
    width: 800px;
    height: 330px;
    margin-top: -450px;
    background-color: rgba(8, 127, 167, 0.7);
    margin-bottom: 250px;
}

h1 {
    display: inline-block;
    font: "Roboto Slab", "serif";
    font-weight: bold;
    text-align: left;
    color: white;
    width: 600px;
    height: 100px;
    margin-top: 100px;
    margin-left: 100px;
}

p {
    display: inline-block;
    font: "Roboto Slab", "serif";
    font-weight: bold;
    text-align: left;
    color: white;
    width: 600px;
    height: 100px;
    margin-left: 100px;
    margin-top: -50px;
}

.picture2 {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
}

.media {
    width: 200px;
    height: 100px;
    float: left;
    margin-top: 20px;
}

.word2 {
    width: 650px;
    height: 100px;
    float: left;
    margin-left: 100px;
    text-align: justify
}

.pic {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    margin-top: -200px;
    margin-bottom: -200px;
}

.med {
    width: 200px;
    height: 100px;
    float: right;
    margin-top: 20px;
    margin-right: 100px;
}

.wor {
    width: 650px;
    height: 100px;
    float: left;
    text-align: justify
}

.picture3 {
    background-image: url(../images/6.jpg);
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.end {
    color: lightgoldenrodyellow;
    font: Monospace;
    margin-left: 50px;
    margin-top: 100px;
}

.last {
    text-align: center;
    margin-left: 200px;
}